cloudinary==1.45.0
asgiref==3.11.1
coverage==7.15.0
dj-database-url==3.1.2
dj3-cloudinary-storage==0.0.6
Django==6.0.6
django-allauth==65.18.0
django-crispy-forms==2.6
django-summernote==0.8.20.0
gunicorn==26.0.0
oauthlib==3.3.1
psycopg2-binary==2.9.12
PyJWT==2.13.0
pylint-django==2.7.0
pylint-plugin-utils==0.9.0
pylint-quotes==0.2.3
python3-openid==3.2.0
pytz==2026.2
requests-oauthlib==2.0.0
sqlparse==0.5.5
